

```
# This is formatted as code
```

**Import training set and test set into dataframe**

In [23]:
import pandas
import numpy as np
train_transaction = pandas.read_csv('Dataset/train_transaction.csv')
train_identity = pandas.read_csv('Dataset/train_identity.csv')
test_transaction = pandas.read_csv('Dataset/test_transaction.csv')
test_identity = pandas.read_csv('Dataset/test_identity.csv')
train_set = train_transaction.merge(train_identity,on='TransactionID',how='left')
test_set = test_transaction.merge(test_identity,on='TransactionID',how='left')
train_set.append(test_set)
df = train_set
df.describe().transpose()

/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,count,mean,std,min,25%,50%,75%,max
TransactionID,590540.0,3.282270e+06,1.704744e+05,2987000.000,3134634.750,3282269.500,3429904.25,3.577539e+06
isFraud,590540.0,3.499001e-02,1.837546e-01,0.000,0.000,0.000,0.00,1.000000e+00
TransactionDT,590540.0,7.372311e+06,4.617224e+06,86400.000,3027057.750,7306527.500,11246620.00,1.581113e+07
TransactionAmt,590540.0,1.350272e+02,2.391625e+02,0.251,43.321,68.769,125.00,3.193739e+04
card1,590540.0,9.898735e+03,4.901170e+03,1000.000,6019.000,9678.000,14184.00,1.839600e+04
card2,581607.0,3.625555e+02,1.577932e+02,100.000,214.000,361.000,512.00,6.000000e+02
card3,588975.0,1.531949e+02,1.133644e+01,100.000,150.000,150.000,150.00,2.310000e+02
card5,586281.0,1.992789e+02,4.124445e+01,100.000,166.000,226.000,226.00,2.370000e+02
addr1,524834.0,2.907338e+02,1.017411e+02,100.000,204.000,299.000,330.00,5.400000e+02
addr2,524834.0,8.680063e+01,2.690623e+00,10.000,87.000,87.000,87.00,1.020000e+02
dist1,238269.0,1.185022e+02,3.718720e+02,0.000,3.000,8.000,24.00,1.028600e+04
dist2,37627.0,2.318554e+02,5.290535e+02,0.000,7.000,37.000,206.00,1.162300e+04
C1,590540.0,1.409246e+01,1.335690e+02,0.000,1.000,1.000,3.00,4.685000e+03
C2,590540.0,1.526973e+01,1.546689e+02,0.000,1.000,1.000,3.00,5.691000e+03
C3,590540.0,5.643987e-03,1.505356e-01,0.000,0.000,0.000,0.00,2.600000e+01
C4,590540.0,4.092185e+00,6.884846e+01,0.000,0.000,0.000,0.00,2.253000e+03
C5,590540.0,5.571526e+00,2.578698e+01,0.000,0.000,0.000,1.00,3.490000e+02
C6,590540.0,9.071082e+00,7.150847e+01,0.000,1.000,1.000,2.00,2.253000e+03
C7,590540.0,2.848478e+00,6.172730e+01,0.000,0.000,0.000,0.00,2.255000e+03
C8,590540.0,5.144574e+00,9.537857e+01,0.000,0.000,0.000,0.00,3.331000e+03
C9,590540.0,4.480240e+00,1.667490e+01,0.000,0.000,1.000,2.00,2.100000e+02
C10,590540.0,5.240343e+00,9.558144e+01,0.000,0.000,0.000,0.00,3.257000e+03
C11,590540.0,1.024152e+01,9.433629e+01,0.000,1.000,1.000,2.00,3.188000e+03
C12,590540.0,4.076227e+00,8.666622e+01,0.000,0.000,0.000,0.00,3.188000e+03
C13,590540.0,3.253992e+01,1.293648e+02,0.000,1.000,3.000,12.00,2.918000e+03
C14,590540.0,8.295215e+00,4.954426e+01,0.000,1.000,1.000,2.00,1.429000e+03
D1,589271.0,9.434757e+01,1.576604e+02,0.000,0.000,3.000,122.00,6.400000e+02
D2,309743.0,1.695632e+02,1.773159e+02,0.000,26.000,97.000,276.00,6.400000e+02
D3,327662.0,2.834335e+01,6.238472e+01,0.000,1.000,8.000,27.00,8.190000e+02
D4,421618.0,1.400024e+02,1.910968e+02,-122.000,0.000,26.000,253.00,8.690000e+02
...,...,...,...,...,...,...,...,...
V333,82351.0,1.014623e+03,7.955735e+03,0.000,0.000,0.000,0.00,1.600000e+05
V334,82351.0,9.807015e+00,2.438614e+02,0.000,0.000,0.000,0.00,5.512500e+04
V335,82351.0,5.916455e+01,3.876295e+02,0.000,0.000,0.000,0.00,5.512500e+04
V336,82351.0,2.853090e+01,2.745769e+02,0.000,0.000,0.000,0.00,5.512500e+04
V337,82351.0,5.535242e+01,6.684868e+02,0.000,0.000,0.000,0.00,1.040600e+05
V338,82351.0,1.511605e+02,1.095034e+03,0.000,0.000,0.000,0.00,1.040600e+05
V339,82351.0,1.007009e+02,8.149467e+02,0.000,0.000,0.000,0.00,1.040600e+05
id_01,144233.0,-1.017050e+01,1.434795e+01,-100.000,-10.000,-5.000,-5.00,0.000000e+00
id_02,140872.0,1.747166e+05,1.596518e+05,1.000,67992.000,125800.500,228749.00,9.995950e+05
id_03,66324.0,6.018937e-02,5.982313e-01,-13.000,0.000,0.000,0.00,1.000000e+01
id_04,66324.0,-5.893794e-02,7.010153e-01,-28.000,0.000,0.000,0.00,0.000000e+00
id_05,136865.0,1.615585e+00,5.249856e+00,-72.000,0.000,0.000,1.00,5.200000e+01
id_06,136865.0,-6.698710e+00,1.649110e+01,-100.000,-6.000,0.000,0.00,0.000000e+00
id_07,5155.0,1.328535e+01,1.138421e+01,-46.000,5.000,14.000,22.00,6.100000e+01
id_08,5155.0,-3.860039e+01,2.608490e+01,-100.000,-48.000,-34.000,-23.00,0.000000e+00
id_09,74926.0,9.102314e-02,9.838416e-01,-36.000,0.000,0.000,0.00,2.500000e+01
id_10,74926.0,-3.011238e-01,2.789446e+00,-100.000,0.000,0.000,0.00,0.000000e+00
id_11,140978.0,9.974532e+01,1.127602e+00,90.000,100.000,100.000,100.00,1.000000e+02
id_13,127320.0,4.805307e+01,1.177486e+01,10.000,49.000,52.000,52.00,6.400000e+01
id_14,80044.0,-3.445071e+02,9.369550e+01,-660.000,-360.000,-300.000,-300.00,7.200000e+02
id_17,139369.0,1.894514e+02,3.037536e+01,100.000,166.000,166.000,225.00,2.290000e+02
id_18,45113.0,1.423734e+01,1.561302e+00,10.000,13.000,15.000,15.00,2.900000e+01
id_19,139318.0,3.531282e+02,1.410953e+02,100.000,266.000,341.000,427.00,6.710000e+02
id_20,139261.0,4.038827e+02,1.521603e+02,100.000,256.000,472.000,533.00,6.610000e+02
id_21,5159.0,3.682698e+02,1.988470e+02,100.000,252.000,252.000,486.50,8.540000e+02
id_22,5169.0,1.600271e+01,6.897665e+00,10.000,14.000,14.000,14.00,4.400000e+01
id_24,4747.0,1.280093e+01,2.372447e+00,11.000,11.000,11.000,15.00,2.600000e+01
id_25,5132.0,3.296089e+02,9.746109e+01,100.000,321.000,321.000,371.00,5.480000e+02
id_26,5163.0,1.490703e+02,3.210199e+01,100.000,119.000,149.000,169.00,2.160000e+02
id_32,77586.0,2.650860e+01,3.737502e+00,0.000,24.000,24.000,32.00,3.200000e+01

**Function to reduce memoery**

In [2]:
def reduce_mem(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: 
        print('Mem. usage decreased from {:5.2f} Mb to {:5.2f} Mb ({:.1f}% reduction)'.format(start_mem, end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

**Applying memory reduction to our dataset**

In [3]:
reduce_mem(df)

Mem. usage decreased from 1959.88 Mb to 650.48 Mb (66.8% reduction)

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,2987000,0,86400,68.500000,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.000000,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.000000,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987003,0,86499,50.000000,W,18132,567.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987004,0,86506,50.000000,H,4497,514.0,150.0,mastercard,102.0,...,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M
5,2987005,0,86510,49.000000,W,5937,555.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2987006,0,86522,159.000000,W,12308,360.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2987007,0,86529,422.500000,W,12695,490.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2987008,0,86535,15.000000,H,2803,100.0,150.0,visa,226.0,...,mobile safari 11.0,32.0,1334x750,match_status:1,T,F,F,T,mobile,iOS Device
9,2987009,0,86536,117.000000,W,17399,111.0,150.0,mastercard,224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2987010,0,86549,75.875000,C,16496,352.0,117.0,mastercard,134.0,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,Windows
11,2987011,0,86555,16.500000,C,4461,375.0,185.0,mastercard,224.0,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,NaN
12,2987012,0,86564,50.000000,W,3786,418.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2987013,0,86585,40.000000,W,12866,303.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2987014,0,86596,10.500000,W,11839,490.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2987015,0,86618,57.937500,W,7055,555.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2987016,0,86620,30.000000,H,1790,555.0,150.0,visa,226.0,...,chrome 62.0,24.0,1280x800,match_status:2,T,F,T,T,desktop,MacOS
17,2987017,0,86668,100.000000,H,11492,111.0,150.0,mastercard,219.0,...,chrome 62.0,24.0,1366x768,match_status:2,T,F,T,T,desktop,Windows
18,2987018,0,86725,47.937500,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2987019,0,86730,186.000000,W,7005,111.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2987020,0,86761,39.000000,W,7875,314.0,150.0,mastercard,224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2987021,0,86769,160.000000,W,11401,543.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2987022,0,86786,50.000000,H,1724,583.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2987023,0,86808,107.937500,W,2392,360.0,150.0,mastercard,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2987024,0,86821,73.937500,W,10112,360.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2987025,0,86944,107.937500,W,15385,111.0,150.0,mastercard,224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2987026,0,86945,184.000000,W,17868,148.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2987027,0,86972,47.937500,W,11307,321.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2987028,0,86973,20.000000,W,8431,269.0,150.0,mastercard,224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2987029,0,86979,37.000000,W,12932,361.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590510,3577510,0,15810518,24.500000,W,9500,321.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590511,3577511,0,15810549,131.000000,W,12059,555.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590512,3577512,0,15810563,764.000000,W,16873,343.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590513,3577513,0,15810575,107.937500,W,2198,555.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590514,3577514,0,15810578,160.000000,W,2487,555.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590515,3577515,0,15810589,108.500000,W,4219,321.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590516,3577516,0,15810592,761.000000,W,17188,321.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590517,3577517,0,15810626,764.000000,W,16873,343.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590518,3577518,0,15810760,49.000000,W,11204,298.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590519,3577519,0,15810774,1660.000000,W,18018,452.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590520,3577520,0,15810785,93.000000,W,17150,292.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590521,3577521,0,15810802,48.875000,C,12019,305.0,106.0,mastercard,224.0,...,chrome 66.0 for android,NaN,NaN,NaN,F,F,T,F,mobile,F3111 Build/33.3.A.1.97
590522,3577522,0,15810823,54.500000,W,3166,559.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590523,3577523,0,15810833,58.937500,W,13076,456.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590524,3577524,0,15810836,75.000000,W,7826,481.0,150.0,mastercard,224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590525,3577525,0,15810866,57.937500,W,11942,570.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590526,3577526,1,15810876,250.000000,R,1214,174.0,150.0,visa,226.0,...,chrome 55.0 for android,32.0,855x480,match_status:2,T,F,T,F,mobile,A574BL Build/NMF26F
590527,3577527,0,15810883,190.000000,W,6453,555.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590528,3577528,0,15810907,280.000000,W,15066,170.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590529,3577529,0,15810912,73.812500,C,5096,555.0,185.0,mastercard,137.0,...,chrome 65.0 for android,NaN,NaN,NaN,F,F,T,F,mobile,Moto E (4) Plus Build/NMA26.42-152
590530,3577530,0,15810926,400.750000,W,15066,170.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590531,3577531,0,15810935,400.000000,R,6019,583.0,150.0,visa,226.0,...,chrome 66.0,24.0,2560x1600,match_status:2,T,F,T,F,desktop,MacOS
590532,3577532,0,15811007,205.000000,W,12037,595.0,150.0,mastercard,224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590533,3577533,0,15811029,107.937500,W,13071,321.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590534,3577534,0,15811030,67.500000,C,5812,408.0,185.0,mastercard,224.0,...,chrome 66.0 for android,NaN,NaN,NaN,F,F,T,F,mobile,RNE-L03 Build/HUAWEIRNE-L03
590535,3577535,0,15811047,49.000000,W,6550,NaN,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590536,3577536,0,15811049,39.500000,W,10444,225.0,150.0,mastercard,224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590537,3577537,0,15811079,30.953125,W,12037,595.0,150.0,mastercard,224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590538,3577538,0,15811088,117.000000,W,7826,481.0,150.0,mastercard,224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590539,3577539,0,15811131,280.000000,W,15066,170.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.head()

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,...,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M

**Replace all null values**

In [5]:
df.isnull().any().sum()

414

In [6]:
df = df.fillna(0)
df.isnull().any().sum()

0

**Transform categorical features to numerical**

In [7]:
categorical_data = df.select_dtypes(include=[object])

In [8]:
print(categorical_data.head())

  ProductCD       card4   card6 P_emaildomain R_emaildomain M1 M2 M3  M4 M5  \
0         W    discover  credit             0             0  T  T  T  M2  F
1         W  mastercard  credit     gmail.com             0  0  0  0  M0  T
2         W        visa   debit   outlook.com             0  T  T  T  M0  F
3         W  mastercard   debit     yahoo.com             0  0  0  0  M0  T
4         H  mastercard  credit     gmail.com             0  0  0  0   0  0

   ...        id_30                id_31      id_33           id_34 id_35  \
0  ...            0                    0          0               0     0
1  ...            0                    0          0               0     0
2  ...            0                    0          0               0     0
3  ...            0                    0          0               0     0
4  ...  Android 7.0  samsung browser 6.2  2220x1080  match_status:2     T

  id_36 id_37 id_38 DeviceType                     DeviceInfo
0     0     0     0          0                              0
1     0     0     0          0                              0
2     0     0     0          0                              0
3     0     0     0          0                              0
4     F     T     T     mobile  SAMSUNG SM-G892A Build/NRD90M

[5 rows x 31 columns]

In [9]:
df = df.drop(categorical_data.columns,axis = 1)

In [10]:
df.head()

,TransactionID,isFraud,TransactionDT,TransactionAmt,card1,card2,card3,card5,addr1,addr2,...,id_17,id_18,id_19,id_20,id_21,id_22,id_24,id_25,id_26,id_32
0,2987000,0,86400,68.5,13926,0.0,150.0,142.0,315.0,87.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2987001,0,86401,29.0,2755,404.0,150.0,102.0,325.0,87.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2987002,0,86469,59.0,4663,490.0,150.0,166.0,330.0,87.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2987003,0,86499,50.0,18132,567.0,150.0,117.0,476.0,87.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2987004,0,86506,50.0,4497,514.0,150.0,102.0,420.0,87.0,...,166.0,0.0,542.0,144.0,0.0,0.0,0.0,0.0,0.0,32.0

In [11]:
from sklearn import preprocessing
encoding = preprocessing.OneHotEncoder()
categorical_data.replace(0, "0", inplace=True)

le = preprocessing.LabelEncoder()
le_cat_data = categorical_data.apply(le.fit_transform)

le_cat_data.head()

,ProductCD,card4,card6,P_emaildomain,R_emaildomain,M1,M2,M3,M4,M5,...,id_30,id_31,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,4,2,2,0,0,2,2,2,3,1,...,0,0,0,0,0,0,0,0,0,0
1,4,3,2,17,0,0,0,0,1,2,...,0,0,0,0,0,0,0,0,0,0
2,4,4,3,36,0,2,2,2,1,1,...,0,0,0,0,0,0,0,0,0,0
3,4,3,3,54,0,0,0,0,1,2,...,0,0,0,0,0,0,0,0,0,0
4,1,3,2,17,0,0,0,0,0,0,...,8,124,165,4,2,1,2,2,2,955

In [12]:
df = pandas.concat([df, le_cat_data], axis=1)

**Standardize some of our features**

In [13]:

from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

df['amount'] = StandardScaler().fit_transform(df['TransactionAmt'].values.reshape(-1,1))
df['time'] = StandardScaler().fit_transform(df['TransactionDT'].values.reshape(-1,1))

df = df.drop(['TransactionDT','TransactionAmt'], axis = 1)
df.head()

/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:36: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial)
/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:86: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:36: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial)
/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:785: RuntimeWarning: invalid value encountered in true_divide
  X /= self.scale_
/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int32 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int32 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

,TransactionID,isFraud,card1,card2,card3,card5,addr1,addr2,dist1,dist2,...,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo,amount,time
0,2987000,0,13926,0.0,150.0,142.0,315.0,87.0,19.0,0.0,...,0,0,0,0,0,0,0,0,NaN,-1.577987
1,2987001,0,2755,404.0,150.0,102.0,325.0,87.0,0.0,0.0,...,0,0,0,0,0,0,0,0,NaN,-1.577986
2,2987002,0,4663,490.0,150.0,166.0,330.0,87.0,287.0,0.0,...,0,0,0,0,0,0,0,0,NaN,-1.577972
3,2987003,0,18132,567.0,150.0,117.0,476.0,87.0,0.0,0.0,...,0,0,0,0,0,0,0,0,NaN,-1.577965
4,2987004,0,4497,514.0,150.0,102.0,420.0,87.0,0.0,0.0,...,165,4,2,1,2,2,2,955,NaN,-1.577964

In [20]:
X = df.drop(['isFraud'], axis = 1)
Y = df['isFraud']

**Applying PCA to get all features**

In [21]:
pca = PCA(n_components=432)
pComponents = pca.fit_transform(X.values)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [0]:
eigenvalues = pca.explained_variance_
total_sum = eigenvalues.sum()

Calculating the top 50 PCA to understand the transformed features

In [0]:
for i in range(1, 50):
  total = eigenvalues[:i].sum()
  variance = total/total_sum
  print('total variance for {} PCA is : {}'.format(i, variance))

total variance for 1 PCA is : 0.6629360723761234
total variance for 2 PCA is : 0.9264209258326431
total variance for 3 PCA is : 0.9941266719977593
total variance for 4 PCA is : 0.9989472836005472
total variance for 5 PCA is : 0.9994913388371168
total variance for 6 PCA is : 0.9996313547957322
total variance for 7 PCA is : 0.9997203894034415
total variance for 8 PCA is : 0.9997873776749229
total variance for 9 PCA is : 0.9998431481518449
total variance for 10 PCA is : 0.9998898766453447
total variance for 11 PCA is : 0.9999155475881404
total variance for 12 PCA is : 0.9999290058566933
total variance for 13 PCA is : 0.9999395991924115
total variance for 14 PCA is : 0.9999474499751945
total variance for 15 PCA is : 0.9999540350811208
total variance for 16 PCA is : 0.9999599556503607
total variance for 17 PCA is : 0.9999655278624116
total variance for 18 PCA is : 0.9999698340001026
total variance for 19 PCA is : 0.9999733693783566
total variance for 20 PCA is : 0.9999759972513599
total variance for 21 PCA is : 0.9999783335339226
total variance for 22 PCA is : 0.9999805643457313
total variance for 23 PCA is : 0.9999826474462757
total variance for 24 PCA is : 0.999984229422577
total variance for 25 PCA is : 0.9999855595604707
total variance for 26 PCA is : 0.999986735238775
total variance for 27 PCA is : 0.9999876807574332
total variance for 28 PCA is : 0.9999885963606846
total variance for 29 PCA is : 0.9999894470589348
total variance for 30 PCA is : 0.999990262088862
total variance for 31 PCA is : 0.9999909636314127
total variance for 32 PCA is : 0.9999915769039739
total variance for 33 PCA is : 0.9999921739139025
total variance for 34 PCA is : 0.9999926851175027
total variance for 35 PCA is : 0.999993178930692
total variance for 36 PCA is : 0.9999936711196395
total variance for 37 PCA is : 0.999994125180961
total variance for 38 PCA is : 0.9999945619460416
total variance for 39 PCA is : 0.9999949707736577
total variance for 40 PCA is : 0.9999953754932163
total variance for 41 PCA is : 0.9999957120671433
total variance for 42 PCA is : 0.9999960440001956
total variance for 43 PCA is : 0.999996342787731
total variance for 44 PCA is : 0.9999966197441773
total variance for 45 PCA is : 0.999996868767917
total variance for 46 PCA is : 0.9999970876039279
total variance for 47 PCA is : 0.9999972782852607
total variance for 48 PCA is : 0.9999974638147683
total variance for 49 PCA is : 0.9999976443375274

The top 2 elements represent for 99% of data. 

In order to test our hypothesis, applied 30 pca to our dataset.

In [0]:
pca = PCA(n_components=30)
pComponents = pca.fit_transform(X.values)
pDf = pandas.DataFrame(data = pComponents
             , columns = ['pc_1', 'pc_2', 'pc_3', 'pc_4', 'pc_5','pc_6', 'pc_7','pc_8', 'pc_9', 'pc_10', 'pc_11', 'pc_12', 'pc_13', 'pc_14', 'pc_15', 'pc_16', 'pc_17', 'pc_18', 'pc_19', 'pc_20', 'pc_21', 'pc_22', 'pc_23', 'pc_24', 'pc_25', 'pc_26', 'pc_27', 'pc_28', 'pc_29', 'pca_30'])
finalDf = pandas.concat([pDf, Y], axis = 1)
finalDf.head()

   TransactionID  card1  card2  card3  ...  DeviceInfo  amount      time  isFraud
0        2987000  13926    0.0  150.0  ...           0    -0.0 -1.577987        0
1        2987001   2755  404.0  150.0  ...           0    -0.0 -1.577986        0
2        2987002   4663  490.0  150.0  ...           0    -0.0 -1.577972        0
3        2987003  18132  567.0  150.0  ...           0    -0.0 -1.577965        0
4        2987004   4497  514.0  150.0  ...         955    -0.0 -1.577964        0

[5 rows x 434 columns]

**Visualizing the distribution of top 10 pca**

In [0]:
import matplotlib.gridspec as gridspec
from matplotlib.pyplot import figure
from matplotlib import pyplot as plt
import seaborn as sns
from mpl_toolkits.mplot3d import Axes3D 
plt.figure(figsize=(12,28*4))
plt.style.use('ggplot')
final_features = finalDf.iloc[:,0:10].columns
grid = gridspec.GridSpec(10, 1)
for i, cn in enumerate(final_features):
    axis = plt.subplot(grid[i])
    sns.distplot(finalDf[cn][finalDf.isFraud == 1], bins=50)
    sns.distplot(finalDf[cn][finalDf.isFraud == 0], bins=50)
    axis.set_xlabel('histogram of feature: ' + str(cn))
plt.show()

In [18]:
#Resampling
finalDf.shape
finalDf = pandas.concat([X, Y], axis = 1)
finalDf.head()

NameError: name 'finalDf' is not defined

**Splitting the data into test set and train set**

In [1]:
finalDf.describe().transpose()

NameError: ignored

In [0]:
finalDf_copy = finalDf.copy()
#Spliting the data set into train and test set.

train_set = finalDf_copy.sample(frac=0.80, random_state=0)
test_set = finalDf_copy.drop(train_set.index)
train_set.shape

In [0]:
#Class Count after resampling
class_count_resample=train_set['isFraud'].value_counts().values
print(class_count_resample)
sns.barplot(['Genuine','Fraud'],class_count_resample)

In [0]:
del finalDf_copy
del finalDf

In [0]:
#Now we have traing set lets count how many samples of each class do we have
df_isFraud = train_set[train_set.isFraud == 1]
df_notFraud = train_set[train_set.isFraud == 0]

In [0]:
df_isFraud.shape

In [0]:
df_notFraud.shape

**Down Sampling**

In [22]:
from sklearn.utils import resample
df_downsampled = resample(df_notFraud,
                                      replace=False,
                                      n_samples=df_isFraud.shape[0])    # to match minority class
print("After Down Sampling:\n",df_downsampled.shape,df_isFraud.shape)

NameError: name 'df_notFraud' is not defined

**Upsampling**

In [0]:
from sklearn.utils import resample
df_upsampled = resample(df_isFraud, replace=True, n_samples=df_notFraud.shape[0], random_state=12 )    # to match majority class
print("After Up Sampling:\n",df_upsampled.shape,df_isFraud.shape)

In [0]:
from sklearn.utils import shuffle
df_train = shuffle(pandas.concat([df_downsampled,df_isFraud]))

In [0]:
df_train_up = shuffle(pandas.concat([df_upsampled,df_notFraud]))

In [0]:
#Class Count after resampling
class_count_resample=df_train['isFraud'].value_counts().values
print(class_count_resample)
sns.barplot(['Genuine','Fraud'],class_count_resample)

In [0]:
#Class Count after resampling
class_count_resample=df_train_up['isFraud'].value_counts().values
print(class_count_resample)
sns.barplot(['Genuine','Fraud'],class_count_resample)

In [0]:
df_train

In [0]:
#Now we have the balanced traing data set we can 
#Divide the data set into X and y
y_train = df_train.isFraud
X_train = df_train.drop('isFraud',axis=1)

y_test = test_set.isFraud
X_test = test_set.drop('isFraud',axis=1)

**Using Logistic Regression**
traning our Model

In [0]:

from sklearn.linear_model import LogisticRegression as logReg
model_LR = logReg().fit(X_train,y_train)

In [0]:
prediction_LR = model_LR.predict(X_test)

from sklearn.metrics import accuracy_score

#Testing the model for accuracy on test data set
print(accuracy_score(y_test,prediction_LR))

In [0]:
from sklearn import metrics
confusion_matrix_LR = metrics.confusion_matrix(y_test, prediction_LR)
confusion_matrix_LR

In [0]:
print("Accuracy:",metrics.accuracy_score(y_test, prediction_LR))
print("Precision:",metrics.precision_score(y_test, prediction_LR))
print("Recall:",metrics.recall_score(y_test, prediction_LR))

**Using Naive Bayes**
traning our Model

In [0]:

from sklearn.naive_bayes import GaussianNB
model_NB = GaussianNB().fit(X_train,y_train)
prediction_NB = model_NB.predict(X_test)
print(accuracy_score(y_test,prediction_NB))

**Random Forest**

In [0]:
from sklearn.ensemble import RandomForestRegressor

In [0]:
model_RF = RandomForestRegressor(
    n_estimators=400, max_features=0.3,
    min_samples_leaf=20, n_jobs=-1, verbose=1)

In [0]:
model_RF.fit(X_train,y_train)

In [0]:
prediction_RF = model_RF.predict(X_test)

In [0]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test, prediction_RF)

**SVM**

In [0]:
from sklearn.svm import LinearSVC
model_svm = LinearSVC()
model_svm.fit(X_train, y_train)

In [0]:
predict_SVM = model_svm.predict(X_test)

**KMeans**

In [0]:
from sklearn.cluster import KMeans

# Number of clusters
kmeans = KMeans(n_clusters=2)
# Fitting the input data
kmeans = kmeans.fit(X_train)
# Getting the cluster labels
predict_kmeans = kmeans.predict(X_test)
# Centroid values
centroids = kmeans.cluster_centers_

print(centroids) # From sci-kit learn

In [0]:
print(accuracy_score(y_test,predict_kmeans ))

In [24]:
import numpy as np
from sklearn import metrics
import numpy as np
import matplotlib.pyplot as plt
lw = 2
# logistic regression
FPR_LR,TPR_LR,th_LR = metrics.roc_curve(y_test,prediction_LR)
area_LR = roc_auc_score(y_test,prediction_LR)
# Naives Byaes
FPR_NB,TPR_NB,th_NB = metrics.roc_curve(y_test,prediction_NB)
area_NB = roc_auc_score(y_test,prediction_NB)
# Randon Forest
FPR_RF,TPR_RF,th_RF = metrics.roc_curve(y_test,prediction_RF)
area_RF = roc_auc_score(y_test,prediction_RF)
# SVM
FPR_SVM,TPR_SVM,th_SVM = metrics.roc_curve(y_test,predict_SVM)
area_SVM = roc_auc_score(y_test,predict_SVM)
# Kmeans
FPR_kmeans,TPR_kmeans,th_kmeans = metrics.roc_curve(y_test,predict_kmeans)
area_kmeans = roc_auc_score(y_test,predict_kmeans)


plt.plot(FPR_RF,TPR_RF,lw=lw, label='Randon Forest (area = %0.2f)' % area_RF)
plt.plot(FPR_LR,TPR_LR,lw=lw, label='Logistic Regression (area = %0.2f)' % area_LR)
plt.plot(FPR_NB,TPR_NB,lw=lw, label='Naives Bayes (area = %0.2f)' % area_NB)
plt.plot(FPR_SVM,TPR_SVM,lw=lw, label='SVM (area = %0.2f)' % area_SVM)
plt.plot(FPR_kmeans,TPR_kmeans,lw=lw, label='K-means (area = %0.2f)' % area_kmeans)





# plt.plot([0, 1], [0, 1], 'k--', lw=lw)
plt.xlim([0.0, 1.0])
plt.ylim([0.0, 1.05])
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('ROC plot for different Algorithms')
plt.legend(loc="lower right")
plt.show()

NameError: name 'y_test' is not defined